In [2]:
import pandas as pd

In [3]:
pd.set_option('display.max_columns',None)

In [4]:
df1 = pd.read_excel("case_study1.xlsx")
df2 = pd.read_excel("case_study2.xlsx")

In [5]:
df1.head()

,PROSPECTID,Total_TL,Tot_Closed_TL,Tot_Active_TL,Total_TL_opened_L6M,Tot_TL_closed_L6M,pct_tl_open_L6M,pct_tl_closed_L6M,pct_active_tl,pct_closed_tl,Total_TL_opened_L12M,Tot_TL_closed_L12M,pct_tl_open_L12M,pct_tl_closed_L12M,Tot_Missed_Pmnt,Auto_TL,CC_TL,Consumer_TL,Gold_TL,Home_TL,PL_TL,Secured_TL,Unsecured_TL,Other_TL,Age_Oldest_TL,Age_Newest_TL
0,1,5,4,1,0,0,0.000,0.0,0.200,0.800,0,0,0.00,0.0,0,0,0,0,1,0,4,1,4,0,72,18
1,2,1,0,1,0,0,0.000,0.0,1.000,0.000,1,0,1.00,0.0,0,0,0,1,0,0,0,0,1,0,7,7
2,3,8,0,8,1,0,0.125,0.0,1.000,0.000,2,0,0.25,0.0,1,1,0,6,1,0,0,2,6,0,47,2
3,4,1,0,1,1,0,1.000,0.0,1.000,0.000,1,0,1.00,0.0,1,0,0,0,0,0,0,0,1,1,5,5
4,5,3,2,1,0,0,0.000,0.0,0.333,0.667,0,0,0.00,0.0,0,1,0,0,0,0,0,3,0,2,131,32

In [6]:
df2.head()

,PROSPECTID,time_since_recent_payment,time_since_first_deliquency,time_since_recent_deliquency,num_times_delinquent,max_delinquency_level,max_recent_level_of_deliq,num_deliq_6mts,num_deliq_12mts,num_deliq_6_12mts,max_deliq_6mts,max_deliq_12mts,num_times_30p_dpd,num_times_60p_dpd,num_std,num_std_6mts,num_std_12mts,num_sub,num_sub_6mts,num_sub_12mts,num_dbt,num_dbt_6mts,num_dbt_12mts,num_lss,num_lss_6mts,num_lss_12mts,recent_level_of_deliq,tot_enq,CC_enq,CC_enq_L6m,CC_enq_L12m,PL_enq,PL_enq_L6m,PL_enq_L12m,time_since_recent_enq,enq_L12m,enq_L6m,enq_L3m,MARITALSTATUS,EDUCATION,AGE,GENDER,NETMONTHLYINCOME,Time_With_Curr_Empr,pct_of_active_TLs_ever,pct_opened_TLs_L6m_of_L12m,pct_currentBal_all_TL,CC_utilization,CC_Flag,PL_utilization,PL_Flag,pct_PL_enq_L6m_of_L12m,pct_CC_enq_L6m_of_L12m,pct_PL_enq_L6m_of_ever,pct_CC_enq_L6m_of_ever,max_unsec_exposure_inPct,HL_Flag,GL_Flag,last_prod_enq2,first_prod_enq2,Credit_Score,Approved_Flag
0,1,549,35,15,11,29,29,0,0,0,-99999,-99999,0,0,21,5,11,0,0,0,0,0,0,0,0,0,29,6,0,0,0,6,0,0,566,0,0,0,Married,12TH,48,M,51000,114,0.200,0.0,0.798,-99999.0,0,0.798,1,0.0,0.0,0.0,0.0,13.333,1,0,PL,PL,696,P2
1,2,47,-99999,-99999,0,-99999,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,209,1,0,0,Single,GRADUATE,23,F,19000,50,1.000,0.0,0.370,-99999.0,0,-99999.000,0,0.0,0.0,0.0,0.0,0.860,0,0,ConsumerLoan,ConsumerLoan,685,P2
2,3,302,11,3,9,25,25,1,9,8,25,25,0,0,10,5,10,0,0,0,0,0,0,0,0,0,25,4,0,0,0,0,0,0,587,0,0,0,Married,SSC,40,M,18,191,1.000,0.5,0.585,-99999.0,0,-99999.000,0,0.0,0.0,0.0,0.0,5741.667,1,0,ConsumerLoan,others,693,P2
3,4,-99999,-99999,-99999,0,-99999,0,0,0,0,-99999,-99999,0,0,5,4,5,0,0,0,0,0,0,0,0,0,0,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,Married,SSC,34,M,10000,246,1.000,1.0,0.990,-99999.0,0,-99999.000,0,0.0,0.0,0.0,0.0,9.900,0,0,others,others,673,P2
4,5,583,-99999,-99999,0,-99999,0,0,0,0,-99999,-99999,0,0,53,4,16,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,3951,0,0,0,Married,POST-GRADUATE,48,M,15000,75,0.333,0.0,0.000,-99999.0,0,-99999.000,0,0.0,0.0,0.0,0.0,-99999.000,0,0,AL,AL,753,P1

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51336 entries, 0 to 51335
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   PROSPECTID            51336 non-null  int64
 1   Total_TL              51336 non-null  int64
 2   Tot_Closed_TL         51336 non-null  int64
 3   Tot_Active_TL         51336 non-null  int64
 4   Total_TL_opened_L6M   51336 non-null  int64
 5   Tot_TL_closed_L6M     51336 non-null  int64
 6   pct_tl_open_L6M       51336 non-null  float64
 7   pct_tl_closed_L6M     51336 non-null  float64
 8   pct_active_tl         51336 non-null  float64
 9   pct_closed_tl         51336 non-null  float64
 10  Total_TL_opened_L12M  51336 non-null  int64
 11  Tot_TL_closed_L12M    51336 non-null  int64
 12  pct_tl_open_L12M      51336 non-null  float64
 13  pct_tl_closed_L12M    51336 non-null  float64
 14  Tot_Missed_Pmnt       51336 non-null  int64
 15  Auto_TL               51336 non-null  int64
 16  CC_TL                 51336 non-null  int64
 17  Consumer_TL           51336 non-null  int64
 18  Gold_TL               51336 non-null  int64
 19  Home_TL               51336 non-null  int64
 20  PL_TL                 51336 non-null  int64
 21  Secured_TL            51336 non-null  int64
 22  Unsecured_TL          51336 non-null  int64
 23  Other_TL              51336 non-null  int64
 24  Age_Oldest_TL         51336 non-null  int64
 25  Age_Newest_TL         51336 non-null  int64
dtypes: float64(6), int64(20)
memory usage: 10.2 MB

In [8]:
print(df1.shape)
print(df2.shape)

(51336, 26)
(51336, 62)

## Data Cleaning

In [10]:
df1 = df1[df1['Age_Oldest_TL'] != -99999]

In [11]:
df1.shape

(51296, 26)

In [12]:
columns_to_removed = []

In [13]:
for i in df2.columns:
    count = (df2[i] == -99999).sum()
    percentage =round((count/len(df2))*100)
    if count>0:
        print(f'columns {i},count {count},percentage {percentage}')

columns time_since_recent_payment,count 4291,percentage 8
columns time_since_first_deliquency,count 35949,percentage 70
columns time_since_recent_deliquency,count 35949,percentage 70
columns max_delinquency_level,count 35949,percentage 70
columns max_deliq_6mts,count 12890,percentage 25
columns max_deliq_12mts,count 10832,percentage 21
columns tot_enq,count 6321,percentage 12
columns CC_enq,count 6321,percentage 12
columns CC_enq_L6m,count 6321,percentage 12
columns CC_enq_L12m,count 6321,percentage 12
columns PL_enq,count 6321,percentage 12
columns PL_enq_L6m,count 6321,percentage 12
columns PL_enq_L12m,count 6321,percentage 12
columns time_since_recent_enq,count 6321,percentage 12
columns enq_L12m,count 6321,percentage 12
columns enq_L6m,count 6321,percentage 12
columns enq_L3m,count 6321,percentage 12
columns pct_currentBal_all_TL,count 72,percentage 0
columns CC_utilization,count 47636,percentage 93
columns PL_utilization,count 44435,percentage 87
columns max_unsec_exposure_inPct,count 23178,percentage 45

In [14]:
for i in df2.columns:
    if (df2[i] == -99999).sum() > 10000:
        columns_to_removed.append(i)
        print(i)

time_since_first_deliquency
time_since_recent_deliquency
max_delinquency_level
max_deliq_6mts
max_deliq_12mts
CC_utilization
PL_utilization
max_unsec_exposure_inPct

In [15]:
columns_to_removed

['time_since_first_deliquency',
 'time_since_recent_deliquency',
 'max_delinquency_level',
 'max_deliq_6mts',
 'max_deliq_12mts',
 'CC_utilization',
 'PL_utilization',
 'max_unsec_exposure_inPct']

In [16]:
df2 = df2.drop(columns=columns_to_removed)

In [17]:
df2.shape

(51336, 54)

In [18]:
common_columns = []

for col in df1.columns:
    if col in df2.columns:
        common_columns.append(col)

print(common_columns)

['PROSPECTID']

In [19]:
df = pd.merge(df1,df2,on='PROSPECTID',how='inner')
df.head()

,PROSPECTID,Total_TL,Tot_Closed_TL,Tot_Active_TL,Total_TL_opened_L6M,Tot_TL_closed_L6M,pct_tl_open_L6M,pct_tl_closed_L6M,pct_active_tl,pct_closed_tl,Total_TL_opened_L12M,Tot_TL_closed_L12M,pct_tl_open_L12M,pct_tl_closed_L12M,Tot_Missed_Pmnt,Auto_TL,CC_TL,Consumer_TL,Gold_TL,Home_TL,PL_TL,Secured_TL,Unsecured_TL,Other_TL,Age_Oldest_TL,Age_Newest_TL,time_since_recent_payment,num_times_delinquent,max_recent_level_of_deliq,num_deliq_6mts,num_deliq_12mts,num_deliq_6_12mts,num_times_30p_dpd,num_times_60p_dpd,num_std,num_std_6mts,num_std_12mts,num_sub,num_sub_6mts,num_sub_12mts,num_dbt,num_dbt_6mts,num_dbt_12mts,num_lss,num_lss_6mts,num_lss_12mts,recent_level_of_deliq,tot_enq,CC_enq,CC_enq_L6m,CC_enq_L12m,PL_enq,PL_enq_L6m,PL_enq_L12m,time_since_recent_enq,enq_L12m,enq_L6m,enq_L3m,MARITALSTATUS,EDUCATION,AGE,GENDER,NETMONTHLYINCOME,Time_With_Curr_Empr,pct_of_active_TLs_ever,pct_opened_TLs_L6m_of_L12m,pct_currentBal_all_TL,CC_Flag,PL_Flag,pct_PL_enq_L6m_of_L12m,pct_CC_enq_L6m_of_L12m,pct_PL_enq_L6m_of_ever,pct_CC_enq_L6m_of_ever,HL_Flag,GL_Flag,last_prod_enq2,first_prod_enq2,Credit_Score,Approved_Flag
0,1,5,4,1,0,0,0.000,0.0,0.200,0.800,0,0,0.00,0.0,0,0,0,0,1,0,4,1,4,0,72,18,549,11,29,0,0,0,0,0,21,5,11,0,0,0,0,0,0,0,0,0,29,6,0,0,0,6,0,0,566,0,0,0,Married,12TH,48,M,51000,114,0.200,0.0,0.798,0,1,0.0,0.0,0.0,0.0,1,0,PL,PL,696,P2
1,2,1,0,1,0,0,0.000,0.0,1.000,0.000,1,0,1.00,0.0,0,0,0,1,0,0,0,0,1,0,7,7,47,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,209,1,0,0,Single,GRADUATE,23,F,19000,50,1.000,0.0,0.370,0,0,0.0,0.0,0.0,0.0,0,0,ConsumerLoan,ConsumerLoan,685,P2
2,3,8,0,8,1,0,0.125,0.0,1.000,0.000,2,0,0.25,0.0,1,1,0,6,1,0,0,2,6,0,47,2,302,9,25,1,9,8,0,0,10,5,10,0,0,0,0,0,0,0,0,0,25,4,0,0,0,0,0,0,587,0,0,0,Married,SSC,40,M,18,191,1.000,0.5,0.585,0,0,0.0,0.0,0.0,0.0,1,0,ConsumerLoan,others,693,P2
3,4,1,0,1,1,0,1.000,0.0,1.000,0.000,1,0,1.00,0.0,1,0,0,0,0,0,0,0,1,1,5,5,-99999,0,0,0,0,0,0,0,5,4,5,0,0,0,0,0,0,0,0,0,0,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,Married,SSC,34,M,10000,246,1.000,1.0,0.990,0,0,0.0,0.0,0.0,0.0,0,0,others,others,673,P2
4,5,3,2,1,0,0,0.000,0.0,0.333,0.667,0,0,0.00,0.0,0,1,0,0,0,0,0,3,0,2,131,32,583,0,0,0,0,0,0,0,53,4,16,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,3951,0,0,0,Married,POST-GRADUATE,48,M,15000,75,0.333,0.0,0.000,0,0,0.0,0.0,0.0,0.0,0,0,AL,AL,753,P1

In [20]:
df.shape

(51296, 79)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51296 entries, 0 to 51295
Data columns (total 79 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PROSPECTID                  51296 non-null  int64
 1   Total_TL                    51296 non-null  int64
 2   Tot_Closed_TL               51296 non-null  int64
 3   Tot_Active_TL               51296 non-null  int64
 4   Total_TL_opened_L6M         51296 non-null  int64
 5   Tot_TL_closed_L6M           51296 non-null  int64
 6   pct_tl_open_L6M             51296 non-null  float64
 7   pct_tl_closed_L6M           51296 non-null  float64
 8   pct_active_tl               51296 non-null  float64
 9   pct_closed_tl               51296 non-null  float64
 10  Total_TL_opened_L12M        51296 non-null  int64
 11  Tot_TL_closed_L12M          51296 non-null  int64
 12  pct_tl_open_L12M            51296 non-null  float64
 13  pct_tl_closed_L12M          51296 non-null  float64
 14  Tot_Missed_Pmnt             51296 non-null  int64
 15  Auto_TL                     51296 non-null  int64
 16  CC_TL                       51296 non-null  int64
 17  Consumer_TL                 51296 non-null  int64
 18  Gold_TL                     51296 non-null  int64
 19  Home_TL                     51296 non-null  int64
 20  PL_TL                       51296 non-null  int64
 21  Secured_TL                  51296 non-null  int64
 22  Unsecured_TL                51296 non-null  int64
 23  Other_TL                    51296 non-null  int64
 24  Age_Oldest_TL               51296 non-null  int64
 25  Age_Newest_TL               51296 non-null  int64
 26  time_since_recent_payment   51296 non-null  int64
 27  num_times_delinquent        51296 non-null  int64
 28  max_recent_level_of_deliq   51296 non-null  int64
 29  num_deliq_6mts              51296 non-null  int64
 30  num_deliq_12mts             51296 non-null  int64
 31  num_deliq_6_12mts           51296 non-null  int64
 32  num_times_30p_dpd           51296 non-null  int64
 33  num_times_60p_dpd           51296 non-null  int64
 34  num_std                     51296 non-null  int64
 35  num_std_6mts                51296 non-null  int64
 36  num_std_12mts               51296 non-null  int64
 37  num_sub                     51296 non-null  int64
 38  num_sub_6mts                51296 non-null  int64
 39  num_sub_12mts               51296 non-null  int64
 40  num_dbt                     51296 non-null  int64
 41  num_dbt_6mts                51296 non-null  int64
 42  num_dbt_12mts               51296 non-null  int64
 43  num_lss                     51296 non-null  int64
 44  num_lss_6mts                51296 non-null  int64
 45  num_lss_12mts               51296 non-null  int64
 46  recent_level_of_deliq       51296 non-null  int64
 47  tot_enq                     51296 non-null  int64
 48  CC_enq                      51296 non-null  int64
 49  CC_enq_L6m                  51296 non-null  int64
 50  CC_enq_L12m                 51296 non-null  int64
 51  PL_enq                      51296 non-null  int64
 52  PL_enq_L6m                  51296 non-null  int64
 53  PL_enq_L12m                 51296 non-null  int64
 54  time_since_recent_enq       51296 non-null  int64
 55  enq_L12m                    51296 non-null  int64
 56  enq_L6m                     51296 non-null  int64
 57  enq_L3m                     51296 non-null  int64
 58  MARITALSTATUS               51296 non-null  object
 59  EDUCATION                   51296 non-null  object
 60  AGE                         51296 non-null  int64
 61  GENDER                      51296 non-null  object
 62  NETMONTHLYINCOME            51296 non-null  int64
 63  Time_With_Curr_Empr         51296 non-null  int64
 64  pct_of_active_TLs_ever      51296 non-null  float64
 65  pct_opened_TLs_L6m_of_L12m  51296 non-null  float64
 66  pct_currentBal_all_TL       51296 non-null  float64
 67  CC_Flag                     51296 non-null  int64
 68  PL_Flag                     51296 non-null  int64
 69  pct_PL_enq_L6m_of_L12m      51296 non-null  float64
 70  pct_CC_enq_L6m_of_L12m      51296 non-null  float64
 71  pct_PL_enq_L6m_of_ever      51296 non-null  float64
 72  pct_CC_enq_L6m_of_ever      51296 non-null  float64
 73  HL_Flag                     51296 non-null  int64
 74  GL_Flag                     51296 non-null  int64
 75  last_prod_enq2              51296 non-null  object
 76  first_prod_enq2             51296 non-null  object
 77  Credit_Score                51296 non-null  int64
 78  Approved_Flag               51296 non-null  object
dtypes: float64(13), int64(60), object(6)
memory usage: 30.9+ MB

In [22]:
# To find categorical columns 
for i in df.columns:
    if df[i].dtypes == 'object':
        print(i)

MARITALSTATUS
EDUCATION
GENDER
last_prod_enq2
first_prod_enq2
Approved_Flag

In [23]:
#Check weather categorical columns are having some impacvt or not - Hypothesis Testing

## Feature Selection

In [25]:
df.MARITALSTATUS.value_counts()

MARITALSTATUS
Married    37724
Single     13572
Name: count, dtype: int64

In [26]:
df.EDUCATION.value_counts()

EDUCATION
GRADUATE          16655
12TH              14458
SSC                9268
UNDER GRADUATE     5491
OTHERS             2915
POST-GRADUATE      2240
PROFESSIONAL        269
Name: count, dtype: int64

In [27]:
df.GENDER.value_counts()

GENDER
M    45211
F     6085
Name: count, dtype: int64

In [28]:
df.MARITALSTATUS.value_counts()

MARITALSTATUS
Married    37724
Single     13572
Name: count, dtype: int64

In [29]:
df.Approved_Flag.value_counts()

Approved_Flag
P2    32162
P3     7449
P4     5882
P1     5803
Name: count, dtype: int64

In [30]:
df.first_prod_enq2.value_counts()

first_prod_enq2
others          28095
ConsumerLoan    11852
PL               4885
AL               2869
CC               2187
HL               1408
Name: count, dtype: int64

In [31]:
df.last_prod_enq2.value_counts()

last_prod_enq2
others          20808
ConsumerLoan    17782
PL               7955
CC               2338
AL               1511
HL                902
Name: count, dtype: int64

## Hypothesis Testing

**Chi-Squared Test**
To check whether the categorical features are associated with output feature or not. It means whether we can keep categorical feature or we should remove it

### Hypothesis Testing for Feature Selection

For each categorical feature, we define the hypotheses as follows:

#### Null Hypothesis (H0):
There is **no relationship** between the feature and the target variable (they are independent).  
- The feature **does not influence** the target.
- It **should be removed** if (H0) is true.
- 
#### Alternative Hypothesis (H1):
There **is a relationship** between the feature and the target variable (they are dependent).  
- The feature **affects** the target.
- It **should be kept** if (H0) is rejected.

In [89]:
import pandas as pd
from scipy.stats import chi2_contingency

for i in ['MARITALSTATUS', 'EDUCATION', 'GENDER', 'last_prod_enq2', 'first_prod_enq2']:
    chi2, pval, dof, expected = chi2_contingency(pd.crosstab(df[i], df['Approved_Flag']))
    print(i, '---', pval)

MARITALSTATUS --- 2.7347247145640217e-257
EDUCATION --- 6.772122013692765e-38
GENDER --- 0.000259241464445085
last_prod_enq2 --- 0.0
first_prod_enq2 --- 0.0